a {
  color: #ff9a76;
}

body {
  background-color: #ecf4f3;
}


h1 {
  color: #a37eba;
}

h2 {
  color: #9ab3f5;
}

h3 {
  color: #41aea9;
}

hr {
  background-color: #ecf4f3;
  border-color: #213e3b;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 10%
}
/** HOBBIES IMAGES **/

.HOBBIES-TABLES{
  padding: 5px;
  text-align: left;
}

.ANIME{
  height:50%;
  width: 50%;
}

.FOOTBALL{
  height:50%;
  width: 50%;
}

.MUSIC{
  height:55%;
  width: 50%;
}

.GAMING{
  height:42%;
  width: 50%;
}
/** TABLES **/

th, td {
  border-bottom: 2px solid #ddd;
  border-color: #213e3b;
}

th {
  background-color: #e7dec8;
  align-items: flex-start;
}
